.artist-page
  height: 100%
  .artist-info
    flex-grow: 1
    align-self: self-start
  .artist-albums-container
    overflow-y: scroll
    .artist-albums-list
      column-count: 3
      column-gap: 10px
      padding-left: 10px
